pkgbase = vdr-softhddevice
	pkgdesc = software and GPU emulated HD output device plugin for VDR
	pkgver = 0.7.0_39_g879d011
	pkgrel = 1
	epoch = 1
	url = https://github.com/ua0lnj/vdr-plugin-softhddevice
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	license = AGPL3
	makedepends = git
	makedepends = glm
	makedepends = glu
	makedepends = patchutils
	depends = ffmpeg
	depends = freeglut
	depends = glew
	depends = mesa
	depends = vdr-api=2.4.1
	depends = xcb-util-wm
	depends = xorg-server
	optdepends = nvidia: Required for VDPAU decoding,
	optdepends = vdr-xorg: Recommended way to start X.org server together with VDR
	backup = etc/vdr/conf.avail/50-softhddevice.conf
	source = git+https://github.com/ua0lnj/vdr-plugin-softhddevice.git#commit=879d011b707029c6a4a82fb336c0bbdfe0f45961
	source = 50-softhddevice.conf
	md5sums = SKIP
	md5sums = f6ef6cb0bf17c5a28f858e5306776d27

pkgname = vdr-softhddevice

